<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>835703661425-2vouciveq74surg2qj2cldcqubgie8ls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835703661425-2vouciveq74surg2qj2cldcqubgie8ls</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>835703661425-qj0u2og8pkp53nc3io0heg0a13s5j8d3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCpAVxwjBsRvKM4mKGBdBk6OTG9z-nEzW8</string>
	<key>GCM_SENDER_ID</key>
	<string>835703661425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muhammadali.telegramchatapp</string>
	<key>PROJECT_ID</key>
	<string>telegram-app-95b2a</string>
	<key>STORAGE_BUCKET</key>
	<string>telegram-app-95b2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835703661425:ios:9ed3cc235be93d76410cd0</string>
</dict>
</plist>